<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How We Work - EZPZSTOCKS</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>How We Work</h1>
    <p>By matching your stock charts to a data base of backtested stock patterns using the resnet18 CNN's feature extraction, we give you an action recommendation with confidence ratings so that you can get the best shot at beating the marke</p>
    <a href="/" class="analyze-btn">Back to Home</a>
</body>
</html>